{% extends 'layout.html' %}

{% block body %}
	<!-- Contact Section  -->
<section id="contact" class="container py-5">
    <h2>Contact Me</h2>
    <p>If you have any questions or project inquiries, please feel free to reach out to me via email:</p>
    <p>Email: <a href="mailto:t9964048@gmail.com">t9964048@gmail.com</a></p>
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7977.671348173479!2d36.8110069!3d-1.2716529!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1697427203444!5m2!1sen!2ske" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <h3>For any enquiries or comments, please fill in this form</h3>
            <form>
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Your message..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}